<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Hammersmith+One|Roboto" rel="stylesheet">

body {
	background-color: white;
	text-align: center;
}
h1 {
	color: rgb(18,89,255);
	font-size: 60px;
	font-weight: bold;
	font-family: 'Hammersmith One', sans-serif;
}
p{
	text-align: left;
	font-size: 18px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
}
hr {
	color: rgb(18,89,255);
	width: 55px;
}
ul.a {
	list-style-type: circle;
}
ul.b {
	list-style-type: square;
}
ol.c {
	list-style-type: arabic;
}
ol.d {
	list-style-type: lower-alpha;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
#slogan {
	background-color: rgb(161,253,255);
	font-size: 22px;
	font-family: Arial, sans-serif;
	text-align: center;
	font color: rgb(18,89,255);
	font-style: italic;
}

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}
aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}
footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
    clear: both;
}
div {
    display: inline-block;
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
.column {
	float: left;
	width: 31%;
	height: 570px;
	padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.inside_img {
	float: left;
	padding: 10px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
section {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}